@model ModalViewModel

<div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog"
     aria-labelledby="@(Model.Id)Title" aria-hidden="true" data-trigger-action="@Model.TriggerAction">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title" id="@(Model.Id)Title">@Model.Title</h3>
            </div>
            <div class="modal-body">
                <form name="@Model.FormName" class="px-3 py-2" method="@Model.Method" action="@Model.SubmitUrl">
                    @if (Model.HasAttribute("edit"))
                    {
                        <input type="hidden" name="id" />
                    }
                    <div class="form-row">
                        <div class="form-group col-8">
                            <label for="name">이름</label>
                            <input type="text" name="name" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-8">
                            <label for="origin">원산지</label>
                            <input type="text" name="origin" class="form-control" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-action="save">저장</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>