@model ModalViewModel

<div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog"
     aria-labelledby="@(Model.Id)Title" aria-hidden="true" data-trigger-action="@Model.TriggerAction">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title" id="@(Model.Id)Title">@Model.Title</h3>
            </div>
            <div class="modal-body">
                <form name="@Model.FormName" class="px-3 py-2">
                    <div class="form-row">
                        @if (Model.HasAttribute("edit"))
                        {
                            <div class="form-group col-4">
                                <label for="id">고객번호</label>
                                <input type="text" name="id" class="form-control" readonly />
                            </div>
                        }
                        <div class="form-group col-8">
                            <label for="name">성명</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="admission_date">입원 날짜</label>
                            <input type="date" name="admission_date" class="form-control" />
                        </div>
                        <div class="form-group col-6">
                            <label for="discharge_date">퇴원 날짜</label>
                            <input type="date" name="discharge_date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>태그</label>
                        <div class="custom-tag-container">
                            <div class="add-custom-tag">
                                <span class="oi oi-plus btn-icon text-white small"></span>
                                <span class="custom-tag-text">추가</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note">노트</label>
                        <textarea class="form-control" rows="4" name="note" style="resize: none;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-action="save">저장</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>